* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

.name-list li {
  list-style-position: inside !important;
}

.wrapper {
  width: min(860px, 85vw);
  margin-inline: auto;
}
